@page "/admin/vaccinated"
@attribute [Authorize(Roles = "admin")]
@layout AdminAuthLayout
@inject NavigationManager NavManager
@inject IVaccineService VaccineService
@inject IToastService Toast

<section class="admin-body px-3 px-md-5 my-3">
    <div class="top-container d-flex align-items-center px-lg-5">
        <div class="left-box d-flex align-items-center me-auto">
            <img src="./css/images/vaccinated.png" alt="User-logo" class="title-img">
            <h3 class="title-text">Vaccinated</h3>
        </div>
        <div class="right-box">
            <form action="" class="d-flex align-items-center">
                <input type="text" name="search-box" class="search-input mx-1">
                <button type="submit" class="submit-btn">
                    <img src="./css/images/search-btn.png" alt="Search" class="search-btn">
                </button>
            </form>
        </div>
    </div>
    <div class="lower-container">
        <div class="table-box">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Manufacturer Name</th>
                        <th>Address</th>
                        <th>Facility</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vaccine in Vaccines)
                    {
                        <tr>
                            <td>@vaccine.FirstName @vaccine.LastName</td>
                            <td>@vaccine.FirstManufacturer</td>
                            <td>@vaccine.Barangay, @vaccine.Town, @vaccine.Province</td>
                            <td>
                                @vaccine.Facility
                            </td>
                            <td>
                                <button type="button" class="trans-btn" @onclick="() => OnUpdate(vaccine.Id)">Update</button>
                                <button type="button" class="trans-btn" @onclick="() => OnDelete(vaccine)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@code {
    List<Vaccine> Vaccines = new List<Vaccine>();


    protected async override Task OnInitializedAsync()
    {
        var result = await VaccineService.GetAllVaccine();
        if(result != null)
        {
            Vaccines = result;
        }
    }


    private void OnUpdate(int VaccineId)
    {
        NavManager.NavigateTo($"admin/userform/update/{VaccineId}");
    }

    private async Task OnDelete(Vaccine vaccine)
    {
        var result = await VaccineService.DeleteVaccine(vaccine);
        Toast.ShowError("Succesfully Deleted", "Deleted");
        Vaccines = result;
    }
}
