@page "/admin/appointment"
@attribute [Authorize(Roles = "admin")]
@layout AdminAuthLayout
@inject NavigationManager NavManager
@inject IAppointService AppointService
@inject IToastService Toast

<section class="admin-body px-3 px-md-5 my-3">
    <div class="top-container d-flex align-items-center px-lg-5">
        <div class="left-box d-flex align-items-center me-auto">
            <img src="./css/images/appointment.png" alt="User-logo" class="title-img">
            <h3 class="title-text">Appointments</h3>
        </div>
        <div class="right-box">
            <EditForm Model="token" OnValidSubmit="OnSearch">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="d-flex align-items-center">
                    <ValidationMessage For="() => token.LastName" />
                    <input type="text" @bind-value="token.LastName" placeholder="Last Name" name="search-box" class="search-input mx-1">
                    <button type="submit" class="submit-btn">
                        <img src="./css/images/search-btn.png" alt="Search" class="search-btn">
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="lower-container">
        <div class="table-box">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Contact Number</th>
                        <th>Address</th>
                        <th>Birth Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appoint in Appoints)
                    {
                        <tr>
                            <td>@appoint.LastName, @appoint.FirstName</td>
                            <td>@appoint.ContactNumber</td>
                            <td>@appoint.Barangay, @appoint.Town, @appoint.Province - @appoint.Zipcode </td>
                            <td>@appoint.BirthDate.ToShortDateString()</td>
                            <td>
                                <button type="button" class="trans-btn" @onclick="() => OnUpdate(appoint.Id)">Update</button>
                                <button type="button" class="trans-btn" @onclick="() => OnDelete(appoint)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@code {        
    List<Appoint> Appoints = new List<Appoint>();
    SearchToken token = new SearchToken();

    protected async override Task OnInitializedAsync()
    {
        var result = await AppointService.GetAllAppoint();
        if(result != null)
        {
            Appoints = result;
        }
    }

    private void OnUpdate(int Id)
    {
        NavManager.NavigateTo($"admin/appointform/{Id}");
    }


    private async Task OnDelete(Appoint appoint)
    {
        var result = await AppointService.DeleteAppoint(appoint);
        Toast.ShowError("Succesfully Deleted", "Deleted");
        Appoints = result;
    }

    private async Task OnSearch()
    {
        var dbAppoints = await AppointService.GetAllAppoint();
        if (dbAppoints != null)
        {
            Appoints = dbAppoints.Where(u => u.LastName == token.LastName).ToList();
        }
    }
}
